@font-face {
    font-family: "retron";
    src: url(fonts/Retron2000.ttf);
}


:root{
    --text-color:#ffd061;
    --text-highlight-color: #f0ed99;
    --background-color: #251738;
    --background-color-op: #362552;
    --background-highlight-color: #825ac765;
    --border-color: #ffd061;
    --bg-content: rgba(135, 119, 153, 0.5);
}

*
{
    font-family: "retron", sans-serif;
    color:white;
    font-size: large;
}

body{
    background-color: var(--background-color);
    background-image: url(../images/stars.svg);
    margin:0;
}

.navbar{
    text-align: center;
    margin: 0;

    .container{
        background-color:var(--background-highlight-color);
        padding-right: 2em;
    }

    ul{
        list-style: none;
        margin:0;
        padding: 0;
    }

    li{
        display: inline-block;
        margin: 0.4em;
        margin-left: 0;
        padding: 0.5em;
        padding-right: 0.02em;
        font-size: 0.6em;
    }

    a{
        text-decoration: none;
        background-color: var(--background-highlight-color);
        margin-left: 0;
        color: var(--text-color);
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: var(--border-color);
        border-width: 0.02em;
    }

    a:hover, .current{
        color: white;
        border-color: var(--text-highlight-color);
        border-width: 0.02em;
    }

    @media only screen and (max-width: 1023px) {
        .container{
            padding-right: 0em;
        }
    }

    @media only screen and (min-width:1024px) and (max-width:1440px) {
        .container{
            padding-right: 0.2em;
        }
    }

    
}

.hero{
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;

    img{
        max-width: 100%;
        margin-top: 0.5em;
        width: auto;
        height: auto;
    }
}

.features{
    text-align: center;

    .container{
        border-bottom: solid;
        border-color: var(--background-color-op);
        p{
            font-size: 0.9em;
            margin-bottom: 4em;
            margin-left: 2em;
            margin-right:2em;
            span{
                font-size: 1.15em;
                color: var(--text-color);
            }
        }
    }

    .features-list{
        
        .container-list{
            background: rgb(130,90,199);
            background: linear-gradient(280deg, rgba(130, 90, 199, 0.116) 0%, rgba(37,23,56,0.5) 60%);
            float: right;
        }

        ul{
            padding-right:6em;
            list-style: none;
        }
    
        li{
            font-size: 0.8em;
            padding: 0.40em;
            margin-bottom: 0;
            span{
                font-size: 1.15em;
                color:var(--text-color)
            }
        }

        .tentacle{
            float: left;
            background: rgb(130,90,199);
            background: linear-gradient(90deg, rgba(37, 23, 56, 0.5) 0%, rgba(130, 90, 199, 0.116) 80%);
            margin-left: 0em;
            padding-top: 0.5em;
            max-width: 100%;
            height: auto;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    @media only screen and (max-width: 1153px) 
    {
           
        .container{
            border-bottom: none;
        }

        .features-list{

            .container-list{
                text-align: center;
                float: none;
                border-top: solid;
                border-bottom: solid;
                border-color: var(--background-color-op);
            }

            ul{
                padding: 1em;
            }
            
        }

        .tentacle{
            display: none;
            float: none;
        }
    }

}

.one{
    margin: 0;
    padding-top: 16.8em;
    padding-bottom: 0.5em;
    text-align: center;

    .container{
        border-top: solid;
        border-color: var(--background-color-op);

        img{
            max-width: 100%;
            margin-top: 0.5em;
            width: auto;
            height: auto;
        }
        
    }

    @media only screen and (max-width: 1153px) {
        padding-top: 0;

        .container{
            border-top: none;
            img{
                padding-right: 0em;
            }
            
        }
    }

}

.footer{
    text-align: center;
    margin-bottom: 0em;
   
    .container{
        padding-bottom: 0em;
        background: rgb(130,90,199);
        background: linear-gradient(180deg, rgba(37, 23, 56, 0.5) 0%, rgba(130, 90, 199, 0.10) 100%);
        
        img{
            text-align: center;
            margin: 0;
            margin-top: 2em;
            margin-right: 0.1em;
            padding-right: 0.3em;
        }
        
        p{
            margin-bottom: 0em;
            font-size: 0.6em;
        }
    }

    @media only screen and (max-width: 1153px) {
        padding-right: 0em;

        img{
            width: 30%;
            height: 30%;
        }

    }
}

.faq-about-media{
    text-align: center;
    margin: 16em;
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0;

    background-color: var(--bg-content);

    border-top-style: solid;
    border-bottom-style: solid;
    border-color: var(--border-color);
    border-width: 0.06em;

    .container{
        display: contents;
        margin-top: 0;
    }

    h1{
        padding: 0;
        margin: 0;
        margin-top: 0.5em;
        color: var(--text-color);
    }

    ul{
        padding:0;
        margin-top:0;
        margin-bottom: 0.4em;
        list-style: none;
    }

    li{
        padding-top: 0.8em;
        padding-bottom: 0.5em;
        font-size: 0.8em;
        span{
            font-size: 1.1em;
            color: var(--text-highlight-color);
        }
    }

    #last-list-item-faq{
        padding-bottom: 0;
    }

            
    #about-game{
        margin-top:0.6em;
    }

    #about-dev{
        margin-top: 0.8em;
    }

    #social-media{
        margin-top: 0.8em;
    }

    #last-p{
        margin-top: 0.2em;
        margin-bottom: 0.5em;
    }

    .link{
        color: var(--text-color);
    }

    a{
        text-decoration: none;
        display: inline-block;
    }

    p{
        margin: 0.1em;
        font-size: 0.8em;
        color: var(--text-highlight-color);

        span{
            font-size: 1.1em;
        }

    }

    @media only screen and (max-width: 1024px) {
        margin: 6em;
        margin-top: 0;
        margin-bottom: 1em;
    }

    @media only screen and (max-width: 767px) {
        margin: 2em;
        margin-top: 0;
        margin-bottom: 1em;
    }
}

.blog-title-art{
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;

    img{
        max-width: 100%;
        margin-top: 0.5em;
        width: auto;
        height: auto;
    }
}

.blog-articles{
    text-align: center;
    margin: 3em;
    margin-top: 0.2em;

    .explanation{
        text-align: center;
        margin-top: 1em;
        margin-right: 7em;
        margin-left: 7em;

        background-color: var(--bg-content);
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: var(--border-color);
        border-width: 0.06em;

        h1{
            color: var(--text-color);
            width: 70%;
            margin: auto;
            font-size: 0.80em ;
            margin-top: 0.3em;
            margin-bottom: 0.1em;
        }

        .container{
            text-align: justify;
            padding-right: 1em;
            padding-left: 1em;
    
            span{
                text-align: center;
            }
            
            p{
                margin-top: 0;
                padding-top: 0;
                font-size: 0.72em;
                color: var(--text-highlight-color);
            }

        }
       
        @media only screen and (max-width: 768px) {
            margin-right: 0em;
            margin-left: 0em;
            h1{
                width: 100%;
                margin: 0;
            }
        }
    }

    article{
        text-align: center;
        margin-top: 1em;
        margin-right: 7em;
        margin-left: 7em;

        background-color: var(--bg-content);
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: var(--border-color);
        border-width: 0.06em;

        a{
            text-decoration: 0;
        }

        h1{
            padding-left: 0.2em;
            margin-top: 0.2em;
            margin-bottom: 0;
            color: var(--text-color);
            text-align: left;
        }       

        .post-info{
            text-align: left;
        }

        .post-details{
            display: flex;
            padding-left: 0.6em;
            margin-bottom: 0.2em;
            text-align: left;

            #date{
                color: var(--text-color);
                margin-left: 0.4em;
                padding-top: 0.35em;
            }

            p{
                margin: 0;
                font-size: 0.6em;
                padding-top:0.02em;
                padding-left: 0.4em;
                margin-top: 0;
            }

            .post-author{
                font-size: 0.8em;
            }

            .post-type{
                padding-top: 0.35em;
                margin-left: 0.4em;
            }    
            
        }

        .post-content{
            text-align: justify;
            margin-left: 1.3em;
            margin-right:1.3em;
            font-size: 0.76em;
            color: var(--text-highlight-color);

            a{
                font-size: 0.8em;
                color: var(--text-color);
            }
        }

        .subtitle{
            text-align: justify;
            text-align: justify;
            margin-left: 1.3em;
            margin-right:1.3em;
            margin-top: 2em ;
            font-size: 0.82em;
            color: var(--text-color);
        }

        @media only screen and (max-width: 768px) {
            margin-right: 0em;
            margin-left: 0em;
            h1{
                margin: 0;
                margin-bottom: 0.2em;
            }
            .post-type{
                padding-left: 0.4em;
                margin: 0;
            }

            .post-title{
                padding: 0.3em;
                text-align: left;
            }
        }

    }

    .letter{
        padding-right: 1.1em;
        padding-left: 1.1em;
        text-align: center;
        

        .letter-content{
            text-align: justify;
            font-size: 0.65em;
            color: lightyellow;
        }

        #letter-sender{
            text-align: right;
            font-size: 0.7em;
            color:lightyellow;
        }

        #letter-ps{
            text-align: right;
            font-size: 0.62em;
            color: lightyellow;
        }

        img{
            text-align: center;
            max-width: 100%;
            margin-top: 0.5em;
            width: auto;
            height: auto;
        }
    }


    @media only screen and (max-width: 767px) {
        margin-right: 0.6em;
        margin-left: 0.6em;
    }
}



